<h1>Song List</h1>

<% if user_logged_in? %>
<p>Welcome <%= get_current_user.name %></p>
<% end %>





<% @messages.each do |message| %>
<div class="message">
  <h2> song title:  <%= message.song_title %> </h2> 
  singer: <a href="/messages/<%= message.id %>"><%= message.author %> </a> </br>
  user name who posted this: <a href="/messages/<%= message.id %>"><%= message.show_user %> </a> </br>
  user id who posted this:  <%= message.user_id %>  </br>
  url:  <%= message.url %> </br>
  content:  <%= message.content %> </br>
  vote up: <a href = "/messages/<%= message.id %>/vote">  click here  </a> </br>
  display number of votes: <%= message.votes.count %>
</div>
<% end %>



<a href="/messages/new">Post a new song.</a>